body {
  font-family: Arial, sans-serif;
  background-color: #f3f2ef;
  color: #333;
}
.container {
  margin-top: 2rem;
  padding: 1rem;
}
.candidate-card {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin-bottom: 1.5rem;
  text-align: center;
  transition: transform 0.2s;
}
.candidate-card:hover {
  transform: translateY(-5px);
}
.candidate-card img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 1rem;
}
.candidate-card h1 {
  font-size: 1.5rem;
  color: #0073b1;
}
.candidate-card p {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
.btn-primary {
  background-color: #0073b1;
  border: none;
}
.btn-primary:hover {
  background-color: #005582;
}
.like-dislike-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.like-dislike-container button {
  margin-right: 0.5rem;
}
.like-dislike-container span {
  font-size: 1.2rem;
  font-weight: bold;
}

.message{
  color: #0073b1; /* Change to the desired text color */
  background-color: #f3f2ef; /* Background color */
  border: 1px solid #0073b1; /* Border color */
  padding: 10px; /* Padding around the text */
  border-radius: 5px; /* Rounded corners */
  margin: 10px 0; /* Margin to separate from other elements */
  font-size: 1.2em; /* Font size */
  text-align: center; /* Center align the text */
  list-style-type: none;

}

