<div class="container">
  <div class="row">
    <div *ngFor="let Candidate of All_Candidates" class="col-md-4">
      <div class="candidate-card">
        <img [src]="Candidate.image" alt="{{Candidate.name}}" class="candidate-img">
        <h2 class="candidate-name">Name: {{ Candidate.name }}</h2>
        <div class="candidate-info">
          <p class="candidate-party">Party: {{ Candidate.party }}</p>
          <p class="candidate-age">Age: {{ Candidate.age }}</p>
        </div>
        <button (click)="deleteCandidate(Candidate.id)">Delete</button>

      </div>
    </div>
  </div>
</div>
